body {
    background-color: rgb(233, 233, 233);
}

div div h1 {
    color: rgb(111, 111, 111);
}

.post {
    margin-bottom: 20px;
    border: 2px solid gray;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    line-height: 15px;
    font-family: cursive;
    background-color: azure;
    box-shadow: 10px 10px 9px 1px #9393938f;
}

.read {
    margin-top: 5px;
}

#subscribe {
    background-color: beige;
    padding: 100px;
    /* margin-top: ;
    margin-bottom: ;
    margin-left: ;
    margin-right: ; */
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}
/* 
#subscribe:hover {
    background-color: aqua;
    border-radius: 20px;
} */